h1 {
    background: #0088ff;
    margin: 10px auto;  /* Center with margin */
    font-family: Times New Roman, Franklin Gothic Medium, sans-serif;
    text-align: center;
}

body {
    background: #8ecaff;

    font-family: Times New Roman, Franklin Gothic Medium, sans-serif;
    -ms-text-size-adjust: 40px;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center-align content */
    width: 100%;
}

.intro div{
    margin-bottom: 20px;
}

.intro img {
    width: 100%;  /* Makes the image responsive */
    max-width: 400px;  /* Maximum width */
    height: auto;  /* Maintain aspect ratio */
    margin: 10px auto;  /* Center with margin */
    border: 2px solid rgb(84, 115, 125);
    display: block;
}


.environment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center-align content */
    width: 100%;
}

.environment div{
    margin-bottom: 20px;
}

.environment img {
    width: 100%;  /* Makes the image responsive */
    max-width: 400px;  /* Maximum width */
    height: auto;  /* Maintain aspect ratio */
    margin: 10px auto;  /* Center with margin */
    border: 2px solid rgb(84, 115, 125);
    display: block;
}


.isolation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center-align content */
    width: 100%;
}

.isolation div{
    margin-bottom: 20px;
}

.isolation img {
    width: 100%;  /* Makes the image responsive */
    max-width: 400px;  /* Maximum width */
    height: auto;  /* Maintain aspect ratio */
    margin: 10px auto;  /* Center with margin */
    border: 2px solid rgb(84, 115, 125);
    display: block;
}


.remodeling {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center-align content */
    width: 100%;
}

.remodeling div{
    margin-bottom: 20px;
}

.remodeling img {
    width: 100%;  /* Makes the image responsive */
    max-width: 400px;  /* Maximum width */
    height: auto;  /* Maintain aspect ratio */
    margin: 10px auto;  /* Center with margin */
    border: 2px solid rgb(84, 115, 125);
    display: block;
}


.conclusion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center-align content */
    width: 100%;
}

.conclusion div{
    margin-bottom: 20px;
}

.conclusion img {
    width: 100%;  /* Makes the image responsive */
    max-width: 400px;  /* Maximum width */
    height: auto;  /* Maintain aspect ratio */
    margin: 10px auto;  /* Center with margin */
    border: 2px solid rgb(84, 115, 125);
    display: block;
}