h1 {
    background: #0088ff;
    margin: 10px auto;  /* Center with margin */
    font-family: Times New Roman, Franklin Gothic Medium, sans-serif;
}

body {
    background: #8ecaff;

    font-family: Times New Roman, Franklin Gothic Medium, sans-serif;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center-align content */
    width: 100%;
}

.neoImg img {
    width: 50%;  /* Makes the image responsive */
    max-width: 50px;  /* Maximum width */
    height: auto;  /* Maintain aspect ratio */
    margin: 10px auto;  /* Center with margin */
    border: 2px solid rgb(84, 115, 125);
    display: block;
}