h1 {
    background: #0088ff;

    font-family: Times New Roman, Franklin Gothic Medium, sans-serif;
}

body {
    background: #8ecaff;

    font-family: Times New Roman, Franklin Gothic Medium, sans-serif;
}

.environment {
    display: flex;
    flex-wrap: wrap;
}

.environment img {
    width: 50%;  /* Makes the image responsive */
    max-width: 50px;  /* Maximum width */
    height: auto;  /* Maintain aspect ratio */
    margin: 10px auto;  /* Center with margin */
    border: 2px solid rgb(84, 115, 125);
    display: block;
}